<form class="form">
  <div class="form__group">
    <input type="text" pInputText #search />
  </div>
  <div class="form__group">
    <button pButton type="button" label="Click" (click)="doSearch(search.value)"></button>
  </div>
  <div class="tracks">
    <ul class="tracks__ul">
      <li class="tracks__item" *ngFor="let track of itunes.results">
        <img src="{{track.artworkUrl30}}">
        <a target="_blank" href="{{track.trackViewUrl}}">{{ track.trackName }}</a>
      </li>
    </ul>
  </div>
</form>

<!-- <p>supperapp comp workds</p> -->