<form class="form">
  <div class="form__group">
    <input type="text" pInputText #search />
  </div>
  <div class="form__group">
    <button pButton type="button" label="Click" (click)="doSearch(search.value)"></button>
  </div>
  <div class="tracks">
    <ul class="tracks__ul">
      <li class="tracks__item" *ngFor="let track of results">
        <img src="{{track.thumbnail}}">
        <a target="_blank" href="{{track.link}}">{{ track.name }}</a>
        <p style="display: inline;"> {{ track.artist }}</p>
      </li>
    </ul>
  </div>
</form>